<mat-drawer-container>
    <div class="container page">
        <div class="bg-blue">
            <div class="nav-tabs-pd">

           
            <ul class="nav nav-pills " id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Store <br> Info</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Store <br> User</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Store <br> Discount</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-recive-tab" data-bs-toggle="pill" data-bs-target="#pills-recive" type="button" role="tab" aria-controls="pills-recive" aria-selected="false">Store <br> Charges</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-delivery-tab" data-bs-toggle="pill" data-bs-target="#pills-delivery" type="button" role="tab" aria-controls="pills-delivery" aria-selected="false">Store Price <br> Code</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-reject-tab" data-bs-toggle="pill" data-bs-target="#pills-reject" type="button" role="tab" aria-controls="pills-reject" aria-selected="false">Store Garment <br> Service Price</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-challan-tab" data-bs-toggle="pill" data-bs-target="#pills-challan" type="button" role="tab" aria-controls="pills-challan" aria-selected="false">Store Printer <br> Set-Up</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-lst-tab" data-bs-toggle="pill" data-bs-target="#pills-lst" type="button" role="tab" aria-controls="pills-lst" aria-selected="false">---- <br> Back To Home</button>
                  </li>
                  
              </ul>
            </div>
              
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                
                <!-- <div class="second-sc-warehouse">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-3" >
                          <div class="form-group mb-1-5">
                            <input type="text" class="form-control" id="strdate" placeholder="Enter QR Code">
                        </div>
                        </div>
                        <div class="col-md-3" >
                          <div class="form-group mb-1-5">
                            <select class="form-control" id="sel1">
                            <option> ---Record Type---</option>
                            <option>Action</option>
                            <option>Another action</option>
                            <option>Something else here</option> 
                            </select>
                            </div>
 
                        </div>
                        <div class="col-md-3" >
                          <div class="form-group mb-1-5">
                            <input type="text" class="form-control" id="strdate" placeholder="Remark">
                        </div> 
                        </div>
                        <div class="col-md-1 mb-1-5">
                            <div class="form-checker">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="today-button mb-1-5">Update Status</button>
            
                        </div>
                    </div>

                </div> -->
                <div class="warehouse-section" style="margin-top: 20px;">
                  

                </div>
                 <div class="table-responsive-style-2">
                  <table class="table" style="width:100%;">
                    <thead class="tabel-heading">
                      <tr>
                        <th scope="col">
                            <div class="row">
                                <div class="col-6">
                                    Description
                                </div>
                                <!-- <div class="col-6" style="width: 36% !important; margin-left: -26px;">
                                    <div class="check-box-tb">
                                    <div class="form-check">
                                        <input class="form-check-input first-check" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        </label>
                                      </div>
                                    </div>
                                </div> -->

                            </div>
                        </th>
                        <th scope="col">Info</th>
                        <!-- <th scope="col">QrCode</th>
                        <th scope="col">Garment Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Remark</th>
                        <th scope="col">History</th> -->
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="first-tb-row">
                        <td>StoreName</td>
                        <td>E-laundry-63</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>StoreCode</td>
                        <td>Demo</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Email</td>
                        <td>sachinpundir2009@gmail.com</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>MobileNo</td>
                        <td>7982518911</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>StoreInvoiceGenName</td>
                        <td>Test</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>StoreInvoiceGenNo</td>
                        <td>1</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>BrandName</td>
                        <td>Elaundry</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Address</td>
                        <td>E-LAUNDRY SOLUTIONS  A-105,Sector 65, , Noida- 301302, Uttar Pradesh </td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Registration Date</td>
                        <td>Jan 2, 2020</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Last Renewal Date </td>
                        <td></td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Next Renewal Date </td>
                        <td></td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>Account Status</td>
                        <td>Active</td>
                        </tr>
                        
                        <tr class="first-tb-row">
                        <td>OfferPrice Access</td>
                        <td>Yes</td>
                        </tr>
                        
                        </tbody>
                  </table>
                </div>
                  <!-- <footer>
                    <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
                    <div class="last-footer">
                        <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
                    </div>
                    
                </footer> -->
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                
                <div class="warehouse-section" style="margin-top: 20px;">
                    

                </div>
              <div class="table-responsive-style-2">
              <table class="table" style="width:100%;">
                <thead class="tabel-heading">
                  <tr>
                     
                    <th scope="col">S. No.</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Role</th>
                    <th scope="col">Register On</th>
                    <th scope="col">Status</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="first-tb-row">
                        <td> 1</td>
                        <td>Kundan Kumar</td>
                        <td>ROLE_RIDER</td>
                        <td>2020-07-25T06:33:04.000+0000</td>
                        <td>ACTIVE</td>
                  </tr>

                  <tr class="first-tb-row">
                    <td> 2</td>
                    <td>Sachin Pundir</td>
                    <td>ROLE_STORE</td>
                    <td>2019-12-13T08:01:52.000+0000</td>
                    <td>ACTIVE</td>
              </tr>
                </tbody>
              </table>
             </div>
                 
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                
                <div class="warehouse-section" style="margin-top: 20px;">
                     

                </div>
               <div class="table-responsive-style-2">
                <table class="table" style="width:100%;">
                  <thead class="tabel-heading">
                    <tr>
                        <th scope="col">S. No.</th>
                        <th scope="col">Discount Name</th>
                        <th scope="col">Discount Type</th>
                        <th scope="col">Discount In</th>
                        <th scope="col">Discount Description</th>
                        <th scope="col">Discount</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr class="first-tb-row">
                    <td> 1</td>
                    <td>FirstService15</td>
                    <td>DISCOUNT</td>
                    <td>AMOUNT</td>
                    <td>First  service discount</td>
                    <td>15</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 2</td>
                    <td>Premium50</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>Premium  service discount</td>
                    <td>50</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 3</td>
                    <td>Premium15</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>Premium  service discount</td>
                    <td>15</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 4</td>
                    <td>Premium10</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>Premium  service discount</td>
                    <td>10</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 5</td>
                    <td>BedDept</td>
                    <td>DISCOUNT</td>
                    <td>AMOUNT</td>
                    <td>BEDDEPT </td>
                    <td></td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 6</td>
                    <td>BadDep</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>Bed depth</td>
                    <td>10</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 7</td>
                    <td>beddtest</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>bed depth</td>
                    <td>100</td>
                    </tr>
                    <tr class="first-tb-row">
                    <td> 8</td>
                    <td>Full100</td>
                    <td>DISCOUNT</td>
                    <td>PERCENT</td>
                    <td>Full 100 % discount </td>
                    <td>100</td>
                    </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-recive" role="tabpanel" aria-labelledby="pills-recive-tab">
                 
                
                <div class="warehouse-section" style="margin-top: 20px;">
                     

                </div>
                <div class="table-responsive-style-2">
                    <table class="table" style="width:100%;">
                      <thead class="tabel-heading">
                        <tr>
                          <th scope="col">S. No.</th>
                          <th scope="col">Charge Name</th>
                          <th scope="col">Charge Type</th>
                          <th scope="col">Charge In</th>
                          <th scope="col">Charge Description</th>
                          <th scope="col">Charge</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="first-tb-row">
                         <td> 1</td>
                         <td>SuperService15</td>
                         <td>CHARGE</td>
                         <td>AMOUNT</td>
                         <td>Super fast service charge</td>
                         <td>15</td>
                         </tr>
                         
                          <tr class="first-tb-row">
                         <td> 2</td>
                         <td>SuperFast15</td>
                         <td>CHARGE</td>
                         <td>PERCENT</td>
                         <td>Super fast service charge</td>
                         <td>15</td>
                         </tr>
                         
                          <tr class="first-tb-row">
                         <td> 3</td>
                         <td>SuperFast10</td>
                         <td>CHARGE</td>
                         <td>PERCENT</td>
                         <td>Super fast service charge</td>
                         <td>10</td>
                         </tr>
                         
                          <tr class="first-tb-row">
                         <td> 4</td>
                         <td>SuperFast50</td>
                         <td>CHARGE</td>
                         <td>PERCENT</td>
                         <td>Super fast service charge</td>
                         <td>50</td>
                         </tr>
                         
                          <tr class="first-tb-row">
                         <td> 5</td>
                         <td>COVID-19SPL</td>
                         <td>CHARGE</td>
                         <td>PERCENT</td>
                         <td>COVID SPECIAL</td>
                         <td>12</td>
                         </tr>
                         
                          <tr class="first-tb-row">
                         <td> 6</td>
                         <td>superfastdelivery</td>
                         <td>CHARGE</td>
                         <td>AMOUNT</td>
                         <td>superfastdelivery-demo</td>
                         <td>150</td>
                         </tr>
                         </tbody>
                    </table>
                   </div>
            </div>
            <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">
                
                
                <div class="warehouse-section" style="margin-top: 20px;">
                   

                </div>
              <div class="table-responsive-style-2">
              <table class="table" style="width:100%;">
                <thead class="tabel-heading">
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Price Code</th>
                    <th scope="col">Price Type</th>
                    <th scope="col">Status</th>
                    
                  </tr>
                </thead>
                <tbody><!---->
                    <tr class="first-tb-row">
                    <td> 1</td>
                    <td>Alpha</td>
                    <td>PRICE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 2</td>
                    <td>Package499</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 3</td>
                    <td>Package99</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 4</td>
                    <td>Wash&amp;Press</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 5</td>
                    <td>Premium</td>
                    <td>PRICE</td>
                    <td>false</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 6</td>
                    <td>KG499</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 7</td>
                    <td>Package999</td>
                    <td>PACKAGE</td>
                    <td>false</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 8</td>
                    <td>Special400</td>
                    <td>PACKAGE</td>
                    <td>false</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 9</td>
                    <td>WASH&amp;FOLD</td>
                    <td>PACKAGE</td>
                    <td>false</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 10</td>
                    <td>Rs800</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 11</td>
                    <td>Hotel</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    
                    <tr class="first-tb-row">
                    <td> 12</td>
                    <td>Combo Ladies Suit</td>
                    <td>PACKAGE</td>
                    <td>true</td>
                    
                    </tr>
                    </tbody>
              </table>
             </div>
            </div>
            <div class="tab-pane fade" id="pills-reject" role="tabpanel" aria-labelledby="pills-reject-tab">
                
                <div class="warehouse-section" style="margin-top: 20px;">
                   

                </div>
                <div class="table-responsive-style-2">
                <table class="table" style="width:100%;">
                  <thead class="tabel-heading">
                    <tr>
                        <th scope="col">S. No.</th>
                        <th scope="col">Service</th>
                        <th scope="col">Category</th>
                        <th scope="col">Garment</th>
                        <th scope="col">Price</th>
                        <th scope="col">Unit</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="first-tb-row">
                        <td> 1</td>
                        <td>DRY CLEANING</td>
                        <td>Kids</td>
                        <td>BABY COAT</td>
                        <td>100</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 2</td>
                        <td>STEAM PRESS</td>
                        <td>Kids</td>
                        <td>BABY COAT</td>
                        <td>200</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 3</td>
                        <td>DRY CLEANING</td>
                        <td>Household</td>
                        <td>BAG BIG</td>
                        <td>200</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 4</td>
                        <td>DRY CLEANING</td>
                        <td>Household</td>
                        <td>BAG SMALL</td>
                        <td>150</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 5</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BATH MAT</td>
                        <td>150</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 6</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BATH TOWEL</td>
                        <td>120</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 7</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BED COVER</td>
                        <td>120</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 8</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BED COVER DOUBLE COTTON</td>
                        <td>300</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 9</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BED COVER DOUBLE SILK</td>
                        <td>350</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 10</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BED COVER SINGLE COTTON</td>
                        <td>200</td>
                        <td>qty</td>
                        </tr>
                        <tr class="first-tb-row">
                        <td> 11</td>
                        <td>WASH &amp; IRON</td>
                        <td>Household</td>
                        <td>BED COVER SINGLE SILK</td>
                        <td>250</td>
                        <td>qty</td>
                        </tr>
                  </tbody>
                </table>
               </div>
            </div>
            <div class="tab-pane fade" id="pills-challan" role="tabpanel" aria-labelledby="pills-challan-tab">
                
                
                <div class="warehouse-section" style="margin-top: 20px;">
                   

                </div>
               <div class="table-responsive-style-2  print-table">
                <table class="table" style="width:100%;">
                  <tfoot class="tabel-heading">
                    <tr>
                      <th scope="col" class="tabel-btn"><button>Print Master For Windows</button></th>
                      <th scope="col" class="tabel-btn"><button>Print Master For Linux</button></th>
                    </tr>
                  </tfoot>

                  <thead class="tabel-heading">
                    <tr>
                      <th scope="col">Printer Setting</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="first-tb-row">
                    <td>Invoice Header Display </td>
                    <div class="form-checker">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                          </div>
                        </div>
                </tr>
                <tr class="first-tb-row">
                    <td>Invoice Footer Display </td>
                    <div class="form-checker">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                          </div>
                        </div>
                </tr>
                <tr class="first-tb-row">
                    <td>Invoice Margin Top</td>
                    <input class="form-control form-input ng-pristine ng-valid ng-touched" name="invoiceMarginOnTop" type="text">
                </tr>
                <tr class="first-tb-row">
                    <td>Invoice Margin Bottom</td>
                    <input class="form-control form-input ng-pristine ng-valid ng-touched" name="invoiceMarginOnBottom" type="text">
                </tr>
                <tr class="first-tb-row">
                    <td>Mini Invoice Header Display </td>
                    <div class="form-checker">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                          </div>
                        </div>
                </tr>
                <tr class="first-tb-row">
                    <td>Mini Invoice Footer Display </td>
                    <div class="form-checker">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                          </div>
                        </div>
                </tr>
                <tr class="first-tb-row">
                    <td>Invoice Size</td>
                    <select class="form-control" name="invoicePageSizeFormat">
                    <option value="">Select Invoice Page Size</option>
                    <option value="148mmX200mm">A5 [148x200 mm 5.8x8.3 in]</option>
                    <option value="200mmX148mm">A5 [200x148 mm 8.3x5.8 in]</option>
                    <option value="200mmX297mm">A4 [200x297 mm 8.3x11.7 in]</option>
                    </select>
                    <hr>
                    <input class="form-control form-input ng-pristine ng-valid ng-touched" name="invoicePageSize" type="text">
                </tr>
                <tr class="first-tb-row">
                    <td>Mini Invoice Size</td>
                    <input class="form-control" name="miniInvoicePageSize" type="text">
                </tr>
                <tr class="first-tb-row">
                    <td>Qr Tag Size</td>
                    <input class="form-control" name="qrCodePageSize" type="text">
                </tr>
                <tr class="first-tb-row">
                    <td> Invoice Printer Name </td>
                    <select class="form-control" name="invoicePrinterName" title="Select Invoice Printer Name">
                    <option selected="" value="NOTSETUP">-- Select Printer --</option><!----></select>
                </tr>
                <tr class="first-tb-row">
                    <td> Mini Invoice Printer Name </td>
                    <select class="form-control" name="miniInvoicePrinterName" title="Select Mini Invoice Printer Name">
                    <option selected="" value="NOTSETUP">-- Select Printer --</option><!----></select>
                </tr>
                <tr class="first-tb-row">
                    <td> Tag Printer Name </td>
                    <select class="form-control" name="qrTagPrinterName" title="Select Tag Printer Name">
                    <option selected="" value="NOTSETUP">-- Select Printer --</option><!----></select>
                </tr>
                </tbody>
                  
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-lst" role="tabpanel" aria-labelledby="pills-lst-tab">lst</div>
          </div>

    </div>
 
</mat-drawer-container>
<footer style="vertical-align: bottom;">
    <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
    <div class="last-footer">
        <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
    </div>
    
</footer>