<mat-drawer-container>
    <div class="container page">

      <div class="row">
        <div class="col-12">
        <div class="form-box-style">
           
            
            <div class="row">
            <div class="col-md-5">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group mb-1-5">
            <label for="strdate">Start From :</label>
            <input type="date" class="form-control" id="strdate" placeholder="22-09-2021">
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group mb-1-5">
            <label for="enddate">End To :</label>
            <input type="date" class="form-control" id="enddate"  placeholder="22-09-2021">
            </div>
            </div>
            </div>
            </div>
            
            <div class="col-md-7">
            <div class="row">
            <div class="col-md-8">
            <div class="form-group mb-1-5">
            <label for="sel1">Report By :</label>
            <select class="form-control" id="sel1">
            <option> ---Record Type---</option>
            <option>Action</option>
            <option>Another action</option>
            <option>Something else here</option> 
            </select>
            </div>
            </div>
            <div class="col-md-4"><br/>  
            <button class="today-button mb-1-5">Add Store Expense</button>
            </div>
            </div>
            </div>
            </div>
            
           
        </div>
        </div>
        </div>







       
        <div class="warehouse-section" style="margin-top: 40px;">
            <div class="paragrapgh-section">
                <p>STORE EXPENSE</p>
            </div>

        </div>
        <div class="table-responsive-style-2">
        <table class="table" style="width:100%;">
            <thead class="tabel-heading">
              <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Expense</th>
                <th scope="col">Remark</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Edit/Update</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="first-tb-row-print-chlln">
                <th scope="row" style="text-align: center;">01</th>
                <td style="line-height: 25px;">Deposited to Bank</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-storeex">
                <th scope="row" style="text-align: center;">02</th>
                <td style="line-height: 25px;">Business Promotion</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-print-chlln">
                <th scope="row" style="text-align: center;">03</th>
                <td style="line-height: 25px;">Deposited to Bank</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-storeex">
                <th scope="row" style="text-align: center;">04</th>
                <td style="line-height: 25px;">Business Promotion</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-print-chlln">
                <th scope="row" style="text-align: center;">05</th>
                <td style="line-height: 25px;">Deposited to Bank</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-storeex">
                <th scope="row" style="text-align: center;">06</th>
                <td style="line-height: 25px;">Business Promotion</td>
                <td>DEPOSITED CASH TO BANK</td>
                <td>10, 000</td>
                <td>
                    Sep 29, 2021
                </td>
                <td><div class="tabel-btn">
                    <button>Edit</button>
                </div></td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <footer>
        <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
        <div class="last-footer">
            <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
        </div>
        
    </footer>
</mat-drawer-container>