<mat-drawer-container>
    <div class="container page">



      <div class="row">
        <div class="col-12">
        <div class="form-box-style">
          <div class="row">
            <div class="col-md-5">
            <div class="form-group mb-1-5">

              <div class="floating-label">
                <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                  <option value=""></option>
                  <option> ---Job Type---</option>
                  <option>Action</option>
                  <option>Another action</option>
                  <option>Something else here</option> 
                </select>
                <span class="highlight"></span>
                <label>Job :</label>
              </div>

 
            </div>
            </div>
            
            <div class="col-md-7">
            <div class="form-group mb-1-5">
              <div class="floating-label">
                <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                  <option value=""></option>
                  <option> ---Record Type---</option>
                  <option>Action</option>
                  <option>Another action</option>
                  <option>Something else here</option> 
                </select>
                <span class="highlight"></span>
                <label>Status</label>
              </div>
 
            </div>
            </div>
            </div>
            
            <div class="row">
            <div class="col-md-5">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group mb-1-5">
              <div class="floating-label form-group mb-1-5">      
                <input class="floating-input form-control" type="text" onclick="(this.type='date')" placeholder=" ">
                <span class="highlight"></span>
                <label>Start From :</label>
              </div>
 
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group mb-1-5">
              <div class="floating-label form-group mb-1-5">      
                <input class="floating-input form-control" type="text" onclick="(this.type='date')" placeholder=" ">
                <span class="highlight"></span>
                <label>End From :</label>
              </div>

 
            </div>
            </div>
            </div>
            </div>
            
            <div class="col-md-7">
            <div class="row">
            <div class="col-md-8">
            <div class="form-group mb-1-5">



              <div class="floating-label">
                <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                  <option value=""></option>
                  <option> ---Record Type---</option>
                  <option>Action</option>
                  <option>Another action</option>
                  <option>Something else here</option> 
                </select>
                <span class="highlight"></span>
                <label>Report By</label>
              </div>



            
            </div>
            </div>
            <div class="col-md-4">   
            <button class="today-button wful d-block mb-1-2">Fetch Job</button>
            </div>
            </div>
            </div>
            </div>
            
           
        </div>
        </div>
        </div>


    






         
        <div class="warehouse-section">
             

        </div>
        <div class="table-responsive-style-2">
        <table class="table" style="width:100%;">
            <thead class="tabel-heading">
              <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Customer Details</th>
                <th scope="col">Request On</th>
                <th scope="col">Pickup Status</th>
                <th scope="col">Rider Details</th>
                <th scope="col">History</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="first-tb-row-print-chlln">
                <th scope="row" style="text-align: center;">01</th>
                <td style="line-height: 25px;">Alka Chaudhary,<br> 8968140816 <br> [Sep 28, 2021 (04 PM To 06 PM)] <br> Sector 63 63 , Royal Enfield, Noida, 201301, UP</td>
                <td>Sep 28, 2021</td>
                <td>ASSIGNED_TO_RIDER</td>
                <td>
                    Kundan Kumar, 9718409025
                </td>
                <td><div class="tabel-btn">
                    <button>Edit Job</button>
                </div></td>
                
              </tr>
              <tr class="first-tb-row-print-chlln">
                <th scope="row" style="text-align: center;">02</th>
                <td style="line-height: 25px;">Alka Chaudhary,<br> 8968140816 <br> [Sep 28, 2021 (04 PM To 06 PM)] <br> Sector 63 63 , Royal Enfield, Noida, 201301, UP</td>
                <td>Sep 28, 2021</td>
                <td>ASSIGNED_TO_RIDER</td>
                <td>
                    Kundan Kumar, 9718409025
                </td>
                <td><div class="tabel-btn">
                    <button>Edit Job</button>
                </div></td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <footer>
        <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
        <div class="last-footer">
            <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
        </div>
        
    </footer>
</mat-drawer-container>