<mat-drawer-container>
    <div class="container page">
       
      <div class="row">
      <div class="col-12">
      <div class="form-box-style pr-2 pl-2">
        <div class="row">

          


          <div class="col-md-5 col-tab-2">
          <div class="form-group mb-1-5">


            <div class="floating-label">  
              <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                <option value=""></option>
                <option> ---Record Type---</option>
                <option>Action</option>
                <option>Another action</option>
                <option>Something else here</option> 
              </select>
              <span class="highlight"></span>
              <label>Record</label>
            </div>


          
          </div>
          </div>
          
          <div class="col-md-7 col-tab-2">
          <div class="form-group mb-1-5">
            <div class="floating-label">  
              <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                <option value=""></option>
                <option> ---Record Type---</option>
                <option>Action</option>
                <option>Another action</option>
                <option>Something else here</option> 
              </select>
              <span class="highlight"></span>
              <label>Record</label>
            </div>
          
          </div>
          </div>
          </div>
          
          <div class="row">
          <div class="col-md-5 col-tab-1">
          <div class="row">
          <div class="col-md-6 col-tab-2">
           
            <div class="floating-label form-group mb-1-5">      
              <input class="floating-input form-control" type="text" onclick="(this.type='date')" placeholder=" ">
              <span class="highlight"></span>
              <label>Date</label>
            </div>
           
          </div>
          <div class="col-md-6 col-tab-2">
          <div class="form-group mb-1-5">
            <div class="floating-label form-group mb-1-5">      
              <input class="floating-input form-control" type="text" onclick="(this.type='date')" placeholder=" ">
              <span class="highlight"></span>
              <label>Date</label>
            </div>
          </div>
          </div>
          </div>
          </div>
          
          <div class="col-md-7 col-tab-1">
          <div class="row">
          <div class="col-md-8 col-tab-2">
          <div class="form-group mb-1-5">
            <div class="floating-label">
              <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);" value="">
                <option value=""></option>
                <option> ---Record Type---</option>
                <option>Action</option>
                <option>Another action</option>
                <option>Something else here</option> 
              </select>
              <span class="highlight"></span>
              <label>Record</label>
            </div>
          </div>
          </div>
          <div class="col-md-4 col-tab-2"> 
          <button class="today-button wful d-block mb-1-4">Search</button>
          </div>
          </div>
          </div>
          </div>
          
          <div class="row">
          <div class="col-md-5">
          <div class="row">
          <div class="col-md-12">
            <div class="floating-label">      
              <input class="floating-input form-control mb-1-4" type="text" placeholder=" ">
              <span class="highlight"></span>
              <label>Mobile Number</label>
            </div>
           
          </div>
          
          </div>
          </div>
          
          <div class="col-md-7">
          <div class="row">
          <div class="col-md-8">
            <div class="floating-label">      
              <input class="floating-input form-control mb-1-5" type="text" placeholder=" ">
              <span class="highlight"></span>
              <label>Order Number</label>
            </div>
          
          </div>
          <div class="col-md-4">
            <div class="floating-label">      
              <input class="floating-input form-control mb-1-5" type="text" placeholder=" ">
              <span class="highlight"></span>
              <label>Customer Name</label>
            </div>
           
          </div>
          </div>
          </div>
          </div>
      </div>
      </div>
      </div>
 
     

        <div class="table table-responsive-style">
          <table  role="region" aria-labelledby="HeadersRow" tabindex="0" id="tabexample" class="colheaders table table-v-scroll">
            <thead class="tabel-heading">
              <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">First name</th>
                <th scope="col">Invoice No</th>
                <th scope="col">Order Date</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Amount</th>
                <th scope="col">Order Source</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="first-tb-row">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="second-tb-row">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr class="third-tb-row">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr class="fourth-tb-row">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="fifth-tb-row">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="six-tb-row">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="seven-tb-row">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="eight-tb-row">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="nine-tb-row">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="six-tb-row">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="seven-tb-row">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="eight-tb-row">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr class="nine-tb-row">
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>

       
          
    </div>
    
    <footer>
        <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
        <div class="last-footer">
            <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
        </div>
        
    </footer>

    
</mat-drawer-container>

<script>
  jQuery(document).ready(function () {
    jQuery('#dtHorizontalVerticalExample').DataTable({
    "scrollX": true,
    "scrollY": 200,
    });
    jQuery('.dataTables_length').addClass('bs-select');
    });
</script>
