<mat-nav-list >
    <div class="logo py-2">
        <img src="../../assets/logo/logo-1-1.png" alt="company-logo">
    </div>
    <mat-divider></mat-divider>
    <h5 matSubheader class="mt-2">Menu</h5>
    <div class="icons-dashboard">

    
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" >
        <img src="/assets/icons/Icon awesome-tachometer-alt.svg" width="20" height="20" alt=""> <span class="text-side">Dashboard</span> </a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active" >
            <img src="/assets/icons/Group 15.svg" width="20" height="20" alt=""> <span class="text-side">Orders</span></a>
            <a mat-list-item routerLink="/store" routerLinkActive="list-item-active"><img src="/assets/icons/Group 11.svg" width="20" height="20" alt=""> <span class="text-side">Store-Warehouse</span></a>
            <a mat-list-item routerLink="/riderjob" routerLinkActive="list-item-active" ><img src="/assets/icons/Group 14.svg" width="20" height="20" alt=""> <span class="text-side">Rider Jobs</span></a>
            <a mat-list-item routerLink="/storeex" routerLinkActive="list-item-active" ><img src="/assets/icons/Group 13.svg" width="20" height="20" alt=""> <span class="text-side">Store-Expense</span></a>
            <a mat-list-item routerLink="/reports" routerLinkActive="list-item-active"  > <img src="/assets/icons/Group 12.svg" width="20" height="20" alt=""> <span class="text-side">Reports</span>  </a>
            <a mat-list-item routerLink="/setting" routerLinkActive="list-item-active" ><img src="/assets/icons/Icon feather-settings.svg" width="20" height="20" alt=""> <span class="text-side">Setting</span> </a>
            <a mat-list-item routerLink="/login" routerLinkActive="list-item-active" ><img src="/assets/icons/login.png" width="20" height="20" alt=""> <span class="text-side">Login</span> </a>
            
            </div>
</mat-nav-list>