<div class="mobile-section" id="mobile-section">
    <div class="container page">
       <div class="row button-section-style" >
          <div class="col-7">
             <div class="input-group mb-3">
                <button class="btn" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1">
             </div>
             <div class="col-12 col-md-12 cut-inv-style">
                <!-- <p class="text-center" style="color: #707070; font-size: 16px; word-spacing: 14px;font-weight: 500;">¤ Customer, ¤ Invoice, ¤ Garments</p> -->
                <ul class="radio-btn text-center">
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html"> &nbsp; Customer</label>
                   </li>
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">&nbsp; Invoice</label>
                   </li>
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                      <label for="html">&nbsp; Garments</label>
                   </li>
                </ul>
             </div>
          </div>
          <div class="mobile-btn-qo-1 col-12 col-md-5">
             <div class="row">
                <div class="col-md-5 col-6">
                   <button type="button" id="a1" class="btn quick-edit-btn">Quick Add</button>
                </div>
                <div class="col-6 col-md-7">
                   <button type="button" id="a2" class="btn pending-order-btn">Pending Order : 143</button>
                </div>
             </div>
          </div>
          
       </div>
</div>
</div>
<div class="third-section nav-menu style-25 " id="third-section" >
    <div class="col-md-12 ">
       <ul class="nav nav-tabs" id="myTab" role="tablist" >
          <li class="nav-item" role="presentation">
             <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" >Booking</button>
          </li>
          <li class="nav-item" role="presentation">
             <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Delivery</button>
          </li>
          <li class="nav-item" role="presentation">
             <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Rider Pickup</button>
          </li>
          <li class="nav-item" role="presentation">
             <button class="nav-link" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="false">Rider Delivery</button>
          </li>
       </ul>
    </div>
 </div>
<div class="des-section" id="des-section" style="display: none;">
    <div class="container page">
       <div class="row button-section-style" >
          <div class="col-7">
             <div class="input-group mb-3">
                <button class="btn" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1">
             </div>
             <div class="col-12 col-md-12 cut-inv-style">
                <!-- <p class="text-center" style="color: #707070; font-size: 16px; word-spacing: 14px;font-weight: 500;">¤ Customer, ¤ Invoice, ¤ Garments</p> -->
                <ul class="radio-btn text-center">
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">Customer</label>
                   </li>
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                                      <label for="html">Invoice</label>
                   </li>
                   <li><input type="radio" id="html" name="fav_language" value="HTML">
                      <label for="html">Garments</label>
                   </li>
                </ul>
             </div>
          </div>
          <div class="mobile-btn-qo-1 col-12 col-md-5">
             <div class="row">
                <div class="col-md-5 col-6">
                   <button type="button" id="a1" class="btn quick-edit-btn">Quick Add</button>
                </div>
                <div class="col-6 col-md-7">
                   <button type="button" id="a2" class="btn pending-order-btn">Pending Order : 143</button>
                </div>
             </div>
          </div>
          <div class="third-section style-25 " id="third-section" >
             <div class="col-md-12 ">
                <ul class="nav nav-tabs" id="myTab" role="tablist" >
                   <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" >Booking</button>
                   </li>
                   <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Delivery</button>
                   </li>
                   <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Rider Pickup</button>
                   </li>
                   <li class="nav-item" role="presentation">
                      <button class="nav-link" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="false">Rider Delivery</button>
                   </li>
                </ul>
             </div>
          </div>
       </div>
</div>
</div>


<div>
       <div class="container page"> 

       <div class="row tab-section-style">
          <div class="tab-content dashboard-table-style" id="myTabContent">
             <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row box-divide" style="margin-top: 20px;">
                   <div class="col-md-3 col-sm-6 booking-dating ">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-xs-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-sm-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 col-xs-6 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row box-divide" style="margin-top: 20px;">
                   <div class="col-md-3  booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row box-divide" style="margin-top: 20px;">
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="row box-divide" style="margin-top: 20px;">
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                   <div class="col-md-3 booking-dating">
                      <button class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> <b> 13-09-2021 </b> <br> <span class="booking-text">Booking</span>  <span style="color: #002B6B;"> <b style="font-size: 27px;"> 12</b></span> </button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <footer>
       <p>E-LAUNDRY SOLUTIONS, A-105, Sector 65, Noida, Uttar Pradesh-301302</p>
       <div class="last-footer">
          <p>"A perfect Solution for your Laundry and Drycleaning Business"</p>
       </div>
    </footer>
    <!-- </mat-drawer-container> -->
 </div>